<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="userDAO" class="com.biz.user.dao.UsersDAOImpl" />
	<!-- UsersDAOImpl userDAO = new UserDAOImpl(); -->

	<bean id="usersService"
		class="com.biz.user.service.UsersServiceImpl">
		<constructor-arg>
			<ref bean="userDAO" />
		</constructor-arg>
	</bean> 
	<!--  UsersServiceImpl userService = new UsersServiceImpl(userDAO); -->
	 
</beans>
